.statistic__container {
  margin: 20px auto;
  background-color: rgba(0, 0, 0, 0.07);
  max-width: 600px;
  background-color: #ffff;
  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.374);
}
.title {
  margin: 0;
  padding: 10px 0;
  text-align: center;
}
.stat__list {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}
.item {
  width: 100%;
  margin: 0px;
  padding: 15px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
