body {
  background-color: rgba(229, 214, 214, 0.664);
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 1px #700b14, 1px 1px 1px #700b14;

  .btn {
    padding: 5px;
    margin: 5px;
    border: 1px solid transparent;
    border-radius: 30%;
    background-color: rgba(99, 50, 50, 0.536);
    box-shadow: 0 4px #700b14;
    color: inherit;
    text-shadow: inherit;
    &:hover {
      background-color: #ca5d83;
      color: white;
    }
    &:active {
      background-color: #ca5d83;
      box-shadow: 0 2px #666;
      transform: translateY(3px);
    }
  }
}

.menu {
  display: flex;
  justify-content: space-between;
  // align-items: center;
  background-color: #06aa1fe5;
  padding: 10px;
  & ul {
    display: flex;

    list-style-type: none;
    padding: 0;
    margin: 0;
    & li {
      padding: 5px;
      margin: 0;
      & p {
        margin: 0;
      }
    }
  }
}
.default {
  font-weight: 200;
  color: black;
  text-decoration: none;
  &:hover {
    color: rgb(255, 255, 255);
  }
}
.active {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}
.userCorner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.avatar {
  width: 40px;
  border-radius: 50%;
}
