body {
  // background-color: rgba(229, 214, 214, 0.664);
  font-size: 20px;
  color: black;
  text-shadow: 1px 1px 1px #700b14, 1px 1px 1px #700b14;
  background-color: #700b13eb;
}

button {
  text-decoration: none;
  display: inline-block;
  width: 140px;
  height: 45px;
  line-height: 45px;
  border-radius: 45px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
  font-weight: 600;
  color: #ffffff;
  background: rgba(164, 8, 8, 0.804);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  transition: 0.5s;
}
button:hover {
  background: #c30101;
  box-shadow: 0 15px 20px rgb(162, 28, 35);
  color: white;
  transform: translateY(-3px);
}

.default {
  font-weight: 200;
  color: black;
  text-decoration: none;
  &:hover {
    color: rgb(255, 255, 255);
  }
}
.active {
  font-weight: bold;
  color: red;
  text-decoration: underline;
}

// App
.nav_container {
  top: 0;
  left: 0;
  position: sticky;
  z-index: 1100;
  display: flex;

  min-height: 64px;

  color: #fff;

  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);

  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  background-color: #901414f5;
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
  }
}
.nav_link {
  padding: 10px;
}

.Page_container {
  padding: 0;
  margin: 0;
}
.page_tittle {
  margin: 0;
  padding: 10px;
  text-align: center;
}
.movie_container {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  &_item {
    padding: 10px;
    a {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: red;
      text-align: center;
      img {
        width: 300px;
      }
    }
  }
}
.one_movie_container {
  display: flex;
}

.cast_container {
  margin: 0;
  padding: 0 auto;
  list-style-type: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  li {
    padding: 10px;
    img {
      width: 300px;
    }
  }
}
.noInfo {
  margin: 10px;
  padding: 0;
  color: red;
}
