@import 'styles/shared.scss';
.form_container {
  padding: 10px;
  margin: 50px;
  position: relative;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.contacts_container {
  margin: 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_line {
  padding: 5px;
  margin: 0 10px;
}

.contacts_list {
  width: 100%;
  max-width: 1000px;
  list-style-type: none;
  margin: -10px;
  padding: 0;
  display: flex;
  flex-direction: column-reverse;
  &_item {
    margin: 10px;
    display: flex;
    justify-content: space-between;
  }
}

.spinner_container {
  position: fixed;
  top: 40px;
  left: 0;
}
.spinner {
  margin: 10px auto;
  height: 50px;
  width: 50px;
  border-left: 3px solid #700b14;
  border-bottom: 3px solid #700b14;
  border-right: 3px solid #700b14;
  border-top: 3px solid transparent;
  border-radius: 50%;
  animation: spinner 1s linear infinite;
}

@keyframes spinner {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}
